<h2>My {{ pageName | titlecase }}</h2>

<div *ngIf="editable">
  <button routerLink="/{{ pageName }}/add">
    Add {{ pageName }}
  </button>
</div>

<ul class="list">
  <li *ngFor="let item of items$ | async">

    <a *ngIf="editable" routerLink="/{{ pageName }}/{{item.id}}">
      <span class="badge"><img src="https://robohash.org/{{item.id}}?set=set{{ setNumber }}&size=30x30"></span> {{item.name}}
    </a>

    <div *ngIf="!editable"
         (click)="clickedElement(item)"
         [class.selected]="selectedItems.includes(item.id)"
    >
      <span class="badge"><img src="https://robohash.org/{{item.id}}?set=set{{ setNumber }}&size=30x30"></span> {{item.name}}
    </div>
    <button *ngIf="editable" class="delete" title="delete {{ pageName }}"
            (click)="delete(item)">x</button>
  </li>
</ul>
