<h2>My Monsters</h2>

<div>
  <label id="new-monster">Monster name: </label>
  <input for="new-monster" #monsterName placeholder="Monster name"/>

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(monsterName.value); monsterName.value=''">
    Add monster
  </button>
</div>

<ul class="monsters">
  <li *ngFor="let monster of monsters">
    <a routerLink="/detail/{{monster.id}}">
      <span class="badge">{{monster.id}}</span> {{monster.name}}
    </a>
    <button class="delete" title="delete monster"
      (click)="delete(monster)">x</button>
  </li>
</ul>
